In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
train = pd.read_csv("train.csv")
train.head()

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,1,1,1,9238,1,1,126.0,1,1,...,0,6,7,6,12.428571,0,11.1,0.6,2.02,Graduate
1,1,1,17,1,9238,1,1,125.0,1,19,...,0,6,9,0,0.000000,0,11.1,0.6,2.02,Dropout
2,2,1,17,2,9254,1,1,137.0,1,3,...,0,6,0,0,0.000000,0,16.2,0.3,-0.92,Dropout
3,3,1,1,3,9500,1,1,131.0,1,19,...,0,8,11,7,12.820000,0,11.1,0.6,2.02,Enrolled
4,4,1,1,2,9500,1,1,132.0,1,19,...,0,7,12,6,12.933333,0,7.6,2.6,0.32,Graduate

In [10]:
x= train['Course'].unique()
y = train['Course'].value_counts()
y

Course
9500    12074
9773     8214
9238     7935
9147     7741
9254     5425
9085     5373
9670     4760
9991     4057
9003     3733
9070     3281
9853     3198
9119     3004
171      2859
8014     2438
9130     1606
9556      746
33         72
979         1
39          1
Name: count, dtype: int64

In [19]:
y = train['Marital status'].value_counts()
y

Marital status
1    70189
2     5296
4      866
5      116
6       35
3       16
Name: count, dtype: int64

In [20]:
y = train['Application order'].value_counts() 
y

Application order
1    54381
2     8875
3     5364
4     3822
5     2125
6     1947
0        3
9        1
Name: count, dtype: int64

In [21]:
y = train['Daytime/evening attendance'].value_counts()
y

Daytime/evening attendance
1    70038
0     6480
Name: count, dtype: int64

In [22]:
y = train['Previous qualification'].value_counts()
y

Previous qualification
1     67183
19     2947
39     2928
3      1401
12      899
9       308
40      259
42      229
2        98
6        98
10       43
43       39
38       38
4        23
15       11
5         3
14        3
37        3
11        2
17        2
36        1
Name: count, dtype: int64

In [23]:
y = train['Previous qualification (grade)'].value_counts()
y

Previous qualification (grade)
133.1    10719
130.0     6261
140.0     5917
120.0     4511
125.0     2749
         ...
140.6        1
162.9        1
119.3        1
173.0        1
138.4        1
Name: count, Length: 110, dtype: int64

In [24]:
y = train['Nacionality'].value_counts()
y

Nacionality
1      76013
41       221
26        67
6         56
22        56
24        15
11        15
2         13
103       12
105        9
101        9
100        9
21         6
25         6
62         6
17         2
109        2
32         1
Name: count, dtype: int64

In [25]:
y = train['Mother\'s qualification'].value_counts()
y

Mother's qualification
1     20202
19    18980
37    18664
38     9059
3      5890
34     1993
2       613
12      358
4       313
5        99
40       49
39       46
9        45
11       32
41       26
6        21
42       19
43       16
10       15
36       15
29       15
35       10
30       10
22        5
14        5
26        4
18        3
44        2
33        2
31        2
15        1
7         1
8         1
28        1
27        1
Name: count, dtype: int64

In [27]:
for i in train.columns:
    print(i)

id
Marital status
Application mode
Application order
Course
Daytime/evening attendance
Previous qualification
Previous qualification (grade)
Nacionality
Mother's qualification
Father's qualification
Mother's occupation
Father's occupation
Admission grade
Displaced
Educational special needs
Debtor
Tuition fees up to date
Gender
Scholarship holder
Age at enrollment
International
Curricular units 1st sem (credited)
Curricular units 1st sem (enrolled)
Curricular units 1st sem (evaluations)
Curricular units 1st sem (approved)
Curricular units 1st sem (grade)
Curricular units 1st sem (without evaluations)
Curricular units 2nd sem (credited)
Curricular units 2nd sem (enrolled)
Curricular units 2nd sem (evaluations)
Curricular units 2nd sem (approved)
Curricular units 2nd sem (grade)
Curricular units 2nd sem (without evaluations)
Unemployment rate
Inflation rate
GDP
Target

In [29]:
y = train['Target'].value_counts()
y

Target
Graduate    36282
Dropout     25296
Enrolled    14940
Name: count, dtype: int64